/* Para usar la fuente open sans pegar lo de abajo
 font-family: 'Open Sans', sans-serif; */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.title {
  text-align: center;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
.title .title-text {}
*/

.title .title-img {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title .title-img img {
  width: 50%;
}

.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  height: 500px;
}

li {
  list-style: none;
}

.cuadricula {
  padding: 0;
}

.modalVideo {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalVideo-Content {
  padding: 10px;
  background-color: white;
  position: relative;
  margin: 10em 1em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.modalvideo-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  /*
  background-color: orange;
  */
  text-align: center;
  cursor: pointer;
}

.modalvideo-close:hover {
  color: red;
}

.modalVideo-Content-Titulo {
  background-color: cyan;
  font-size: 30px;
  padding: 15px;
  margin-top: 20px;
}

#modalVideo-Content-BackVideo {
  padding: 10px 20px;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  align-self: center;
}

.modalVideo-Content-Video {
  margin-bottom: 20px;
  background: transparent;
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.modalVideo-Content-Video #slider {
  display: flex;
  width: 2400px;
  height: 400px;
  padding: 0;
  /*
  animation: cambio 20s infinite;
  */
}

.modalVideo-Content-Video section {
  width: 100%;
  list-style: none;
}

.modalVideo-Content-Video iframe {
  width: 100%;
}

#btn-prev,
#btn-next {
  width: 40px;
  height: 40px;
  background: rgba(174, 202, 12, 0.5);
  line-height: 40px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

#btn-prev {
  margin-left: 100px;
}

#btn-next {
  margin-right: 100px;
}

#btn-prev:hover,
#btn-next:hover {
  background: rgb(14, 211, 31);
}

#container-btn {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -600px;
  }

  45% {
    margin-left: -600px;
  }

  50% {
    margin-left: -1200px;
  }

  70% {
    margin-left: -1200px;
  }

  75% {
    margin-left: -1800px;
  }

  100% {
    margin-left: -1800px;
  }
}

/* MEDIA QUERY  */

@media (max-width: 768px) {
  .info-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .modalVideo-Content-Titulo {
    font-size: 20px;
  }

  .modalVideo-Content-Descripcion {
    font-size: 10px;
  }

  .modalVideo-Content-Video {
    width: 300px;
    height: 150px;
  }
}